@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  background: hsl(202, 18%, 85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  --size: 40rem;
  aspect-ratio: 1/1;
  width: var(--size);
  position: relative;
  z-index: 1;
}

p {
  --offsetX: 2rem;
  color: hsl(202, 37%, 19%, 0.6);
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  position: absolute;
  left: 50%;
  top: 27%;
  translate: calc(-50% + var(--offsetX)) 0;
  z-index: 1;
}

svg {
  --theme: #61717b;
  --theme-secondary: hsla(203, 12%, 3%, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: white;
  width: 100%;
  max-width: min(90vh, 90vw);
  overflow: visible;
  z-index: -1;
}

.rotor {
  stroke: var(--theme);
  stroke-width: 2px;
  stroke-linecap: round;
}

.orbiter {
  stroke: var(--theme);
}

.orbiter-center {
  fill: var(--theme);
}

.dashed {
  stroke: var(--theme-secondary);
  stroke-width: 5px;
}

@media (width< 900px) {
  .wrapper {
    --size: 30rem;
  }

  p {
    --offsetX: 1rem;
    top: 25%;
    font-size: 4rem;
    letter-spacing: 2.75rem;
  }
}

@media (width< 650px) {
  .wrapper {
    --size: 20rem;
  }

  p {
    --offsetX: 1rem;
    top: 22%;
    font-size: 2rem;
    letter-spacing: 2rem;
  }
}